<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecjtu.kongtao.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.ecjtu.kongtao.bean.User">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>
    <select id="getUserById" resultMap="BaseResultMap">
        SELECT * FROM t_user WHERE user_id = #{id};
    </select>

</mapper>